# Copy to dbt/.env (gitignored), then: set -a; source dbt/.env; set +a
DBT_SNOWFLAKE_ACCOUNT=<org>-<account>
DBT_SNOWFLAKE_USER=SNOWLAB_DEV_DEPLOY_SVC
DBT_SNOWFLAKE_PRIVATE_KEY_PATH=$HOME/.snowflake/keys/snowlab_dev_deploy_svc.p8
DBT_PROFILES_DIR=.
